{% load static %}
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sistema de Pallets</title>
    <link rel="icon" type="image/x-icon" href="{% static '/images/favicon.jpg' %}">
    <style>
      input,select{
        text-align:center;
      }
    </style>
    <link href="{% static 'css/bootstrap/bootstrap.min.css' %}" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'css/library/datatable2.css' %}">
    <script src="{% static 'js/library/jquery.min.js' %}" defer></script>
    <script src="{% static 'js/bootstrap/bootstrap.min.js' %}" defer></script>
    <script src="{% static 'js/library/datatable_excel.js' %}" defer></script>
    <script src="{% static 'js/library/datatable_pdf.js' %}" defer></script>
    <script src="{% static 'js/library/vfs_fonts.js' %}" defer></script>
    <script src="{% static 'js/library/datatable2.js' %}" defer></script>
    <script src="{% static 'js/library/instascan.min.js' %}" defer></script>
    <script src="{% static 'js/library/sweetalert2.min.js' %}" defer></script>
    {% if not user.is_staff %}
    <script src="{% static 'js/camara.js' %}" defer></script>
    {% else %}
    <script src="{% static 'js/reporte.js' %}" defer></script>
    {% endif %}
    <script src="{% static 'js/general.js' %}" defer></script>
</head>
<body style="max-height: 100vh;overflow-y:auto">
  <header>
    <div class="navbar navbar-dark bg-dark shadow-sm">
      <div class="container d-flex justify-content-between">
        <a href="/" class="navbar-brand d-flex align-items-center">
          <strong>Registro de Pallets</strong>
        </a>
        <a class="nav-link fw-bold py-1 px-0 text-white" href="logout">Cerrar Sesión</a>
      </div>
    </div>
  </header>
  <main role="main">
    {% block content %}
    {% endblock content %}
  </main>
    
</body>
</html>