{% extends 'base.html' %}
  {% block content %}
  {% csrf_token %}
  <div class="container p-4">
    <div class="mt-2 mb-4">
      <button class="btn btn-md btn-success w-100" onclick="activarCamara()">Escanear código</button>
    </div>
    <div id="tabla_prueba" class="table-responsive">

    </div>
    <div class="table-responsive">
  
    </div>
    <div class="modal modal-md fade" id="modalPallet" tabindex="-1" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header bg-success" style="align-text:center">
            <h1 class="modal-title fs-5 text-white" id="modalTitle">Registrar Pallet</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body" style="max-height:690px;overflow-y:scroll">
            <center id="camara">
              <video id="preview" width="100%"></video>
            </center>
            <div id="formulario" class="text-center" style="display:none">
              <div class="row">
                <div class="mb-3 col">
                  <label for="codigo" class="form-label">Código</label>
                  <input type="text" class="form-control" id="codigo" placeholder="Codigo">
                </div>
                <div class="mb-3 col">
                  <label for="dp" class="form-label">DP</label>
                  <input type="text" class="form-control" id="dp" placeholder="dp">
                </div>
              </div>
              <div class="row">
                <div class="mb-3 col">
                  <label for="dni" class="form-label">Presentación</label>
                  <select name="presentacion" class="form-control" id="presentacion">
                    <option value="">Seleccione una presentación</option>
                    {% for presentacion in presentaciones %}
                      <option value="{{ presentacion.id }}">{{ presentacion.presentacion }}</option>
                    {% endfor %}
                  </select>
                </div>
              </div>
              <div class="row">
                <div class="mb-3 col">
                  <label for="variedad" class="form-label">Variedad</label>
                  <select name="presentacion" class="form-control" id="variedad">
                    <option value="">Seleccione</option>
                    {% for variedad in variedades %}
                      <option value="{{ variedad.id }}">{{ variedad.variedad }}</option>
                    {% endfor %}
                  </select>
                </div>
                <div class="mb-3 col">
                  <label for="calibre" class="form-label">Calibre</label>
                  <select name="calibre" class="form-control" id="calibre">
                    <option value="">Seleccione</option>
                    {% for calibre in calibres %}
                      <option value="{{ calibre.id }}">{{ calibre.calibre }}</option>
                    {% endfor %}
                  </select>
                </div>
              </div>
              <div class="row">
                <div class="mb-3 col">
                  <label for="categoria" class="form-label">Categoría</label>
                  <select name="categoria" class="form-control" id="categoria">
                    <option value="">Seleccione</option>
                    {% for categoria in categorias %}
                      <option value="{{ categoria.id }}">{{ categoria.categoria }}</option>
                    {% endfor %}
                  </select>
                </div>
                <div class="mb-3 col">
                  <label for="plu" class="form-label">Plu</label>
                  <select name="plu" class="form-control" id="plu">
                    <option value="true">Sí</option>
                    <option value="false">No</option>
                  </select>
                </div>
              </div>
              <hr>
              <div>
                <h5>Detalle del Pallet - <span id="cajas_restantes"></span></h5>
                <div id="detalle" style="overflow-y:scroll;height:175px">
                  
                </div>
                <button onclick="crearNuevoDetalle()" class="btn btn-warning w-100 rounded-md text-white">Agregar</button>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" id="btn-escanear" style="display:none" onclick="escanear()" class="btn btn-success">Escanear</button>
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            <button type="button" onclick="registrarPallet()" class="btn btn-primary">Guardar Cambios</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endblock content %}