{% extends 'base.html' %}
{% load static %}
  {% block scripts %}
    <script src="{% static 'js/camara.js' %}" defer></script>
    <script src="{% static 'js/general.js' %}" defer></script>
    <script src="{% static 'js/library/select.min.js' %}" defer></script>
  {% endblock scripts %}
  {% block content %}
  <div class="container px-4 py-2">
    {% if user.rol == "REG" %}
    {% csrf_token %}
    {% endif %}
    <div id="tabla_prueba" class="table-responsive"></div>
    {% include 'modal_registro.html' %}
    {% include 'modal_remontar.html' %}
	<script>
	    var swiper = new Swiper(".mySwiper",{
		speed: 400,
		spaceBetween: 100,
		effect: 'flip'
	    })
	</script>
  </div>
  {% endblock content %}
