{% load static %}
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sistema de Pallets</title>
    <link rel="icon" type="image/x-icon" href="{% static '/images/favicon.jpg' %}">
	<link rel="stylesheet" href="{% static 'css/library/icon.min.css' %}">
	<link rel="stylesheet" href="{% static 'css/login.css' %}">
</head>
<body>
<div class="container">
	<div class="screen">
		<div class="screen__content">
			<form class="login" method="POST">
				{% csrf_token %}
				<div class="login__field">
					<i class="login__icon fas fa-user"></i>
					<input type="text" name="user" class="login__input" placeholder="Código">
				</div>
				<div class="login__field">
					<i class="login__icon fas fa-lock"></i>
					<input type="password" name=password class="login__input" placeholder="Contraseña">
				</div>

				<h5 style="color:red">{{ error }}</h5>
				<button class="button login__submit">
					<span class="button__text">Ingresar</span>
					<i class="button__icon fas fa-chevron-right"></i>
				</button>				
			</form>
			<div class="title">
				<h3>Sistema de Pallets</h3>
			</div>
		</div>
		<div class="screen__background">
			<span class="screen__background__shape screen__background__shape4"></span>
			<span class="screen__background__shape screen__background__shape3"></span>		
			<span class="screen__background__shape screen__background__shape2"></span>
			<span class="screen__background__shape screen__background__shape1"></span>
		</div>		
	</div>
</div>

    