<div class="modal modal-md fade" id="modalRemontar" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header bg-secondary" style="align-text:center">
        <h1 class="modal-title fs-5 text-white">Escanear código</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" style="max-height:690px;overflow-y:auto">
        <center id="camara_remontar">
          <div class="mb-3">
            <button class="btn btn-lg btn-danger w-100" onclick="cambiarCamara()">Cambiar Cámara</button>
          </div>
          <div id="video_remontar">
            <video id="preview_remontar" width="100%"></video>
          </div>
        </center>
      </div>
      <div class="modal-footer">          
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>