<div class="modal modal-md fade" id="modalPallet" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header bg-success" style="align-text:center">
          <h1 class="modal-title fs-5 text-white">Escanear código</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body" style="max-height:690px;overflow-y:auto">
          <div class="mt-2 mb-4">
              <button class="btn btn-md btn-success w-100 fw-bolder" id="btnCambiarCamara" onclick="activarCamara()">Escanear código</button>
          </div>
          <center>
            <input type="text" class="form-control" id="codigo_pallet">
          </center>
        </div>
        <div class="modal-footer">          
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
        </div>
      </div>
    </div>
  </div>