<table id="table_embarque" class="display">
    <thead>
        <tr>
            <th>Código</th>
            <th>Cliente</th>
            <th>Destino</th>
        </tr>
    </thead>
    <tbody>
      {% for pallet in pallets %}
      <tr class="{% if pallet.embarcado %} bg-success {% else %} bg-warning {% endif %} text-white">
        <td>{{ pallet.codigo }}</td>
	<td>{{ pallet.cliente.cliente }}</td>
	<td>{{ pallet.cliente.destino }}</td>
      </tr>
      {% endfor %} 
    </tbody>
  </table>
