<table id="table_id" class="display">
    <thead>
        <tr>
            <th>Código</th>
            <th>Presentación</th>
            <th>Variedad</th>
        </tr>
    </thead>
    <tbody>
      {% for pallet in pallets %}
      <tr class="{% if pallet.completo %} bg-success {% else %} bg-warning {% endif %}  text-white" onclick="editarPallet('{{ pallet.codigo }}')">
        <td>{{ pallet.codigo }}</td>
 	<td>{{ pallet.presentacion.tipo_caja.tipo_caja }}  {{ pallet.presentacion.peso }} KG</td>
	<td>{{ pallet.variedad }}</td>
    </tr>
      {% endfor %} 
    </tbody>
  </table>
